APP_NAME=MireaQRBot
APP_DEBUG=true

APP_HOST=0.0.0.0
APP_PORT=8888

POSTGRES_USER=mirea
POSTGRES_PASSWORD=postgres_pass
#POSTGRES_HOST=postgres
POSTGRES_HOST=localhost

#POSTGRES_PORT=5432
POSTGRES_PORT=5433
POSTGRES_DB=mirea_db

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redisPassword

JWT_SECRET=test12345

TELEGRAM_BOT_TOKEN=8552539974:FAHxT96xBRZGqio-8gnewbrXe6BtNu-_vFw

TELEGRAM_WEB_URL=https://mirea-test.ru:8092

MIREA_TEST_EMAIL=test@edu.mirea.ru
MIREA_TEST_PASSWORD=test12345
ENCRYPTION_KEY=9dacfa13c792ab026dc48100c99c5ca7
#ADMIN_USER_ID=236996547
ADMIN_USER_ID=444444444
USE_PROXY=true